#contact-container {
  z-index: -1;
  width: 100%;
  height: 100%;
}

.main-content-contact{
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url("exploreBackground.jpg");
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10%;

}

.welcome-text{
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    margin-bottom: 1.5rem;
    padding-top: 0.5rem;
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: bold;
}

.welcome-text-email{
  font-family: 'M PLUS 1p', sans-serif;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 1.5rem;
}

.input1{
  border-radius: 4px;
  border-style: none;
  margin-bottom: 1.5rem;
  padding: 0.5rem 1rem;
}

.welcome-text-name{
  font-family: 'M PLUS 1p', sans-serif;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 1.5rem;
}

.input2{
  border-radius: 4px;
  border-style: none;
  margin-bottom: 1.5rem;
  padding: 0.5rem 1rem;
}

.welcome-text-phone{
  font-family: 'M PLUS 1p', sans-serif;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 1.5rem;
}

.input3{
  border-radius: 4px;
  border-style: none;
  margin-bottom: 1.5rem;
  padding: 3rem 1rem;
}

.button-content{
  margin-top: 2rem;
  border-radius: 6px;
  border-style: none;
  padding: 1rem 1rem;
  margin-bottom: 3rem;
  font-family: 'M PLUS 1p', sans-serif;
}

.youtube-link{
  margin-top: 2rem;
  padding: 2rem 2rem;
  margin-bottom: 3rem;
  background-color:red;
  color: white;
  border-radius: 14px;
  font-family: 'M PLUS 1p', sans-serif;
}

.twitter-link{
  margin-top: 2rem;
  padding: 2rem 2rem;
  margin-bottom: 3rem;
  background-color: #55adee;
  color: white;
  border-radius: 14px;
  font-family: 'M PLUS 1p', sans-serif;
}
.thanks{
  font-family: 'M PLUS 1p', sans-serif;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 1rem;
  color: white;

}

@media (min-width:1000px) and (max-width:2000px){
  .welcome-text{

    font-size: 2rem;
  }
.welcome-text-email{
  font-size: 2rem;
}
.input1{
  padding: 1rem 5rem;
}
.welcome-text-name{
  font-size: 2rem;
}
.input2{
  padding: 1rem 5rem;
}
.welcome-text-phone{
  font-size: 2rem;
}
.input3{
  padding: 3.5rem 5rem;
}
.button-content{
  font-size: 2rem;
  padding: 2rem 3rem;
  font-weight: bold;
  font-family: 'M PLUS 1p', sans-serif;
}
.youtube-link{
  padding: 3rem 3rem;
  background-color:rgb(85, 18, 18);
  font-size: 2rem;
}
.twitter-link{
  padding: 3rem 3rem;
  
  font-size: 2rem;
}
.thanks{
  font-size: 2rem;
}
}