.main-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%
}

.back-contact{
    background-image: url("exploreBackground.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    transform: translate(0,  0%);
    background-repeat: no-repeat;
    background-attachment: fixed; 
    width: 100%;
    height: 100%
}

.contact-form{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 7rem;
    padding-bottom: 1rem;
    width: 100%;
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 2rem;
    color: #212529;
    font-weight: bold;
    text-align: center;
    
}
.input-form{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 2rem;
    
}

.email-field{
    margin-top: 2rem;
    border-radius: 00.5rem;
    padding: 0.5rem 2rem;
    color: #99a6b3;
    border-color: #212529;
    border-width: 3px;
    float: left;
    background-color: 
    #432f20;
}

.button-pos {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

.contact-main{
    margin: 0 10%;
    
}

.center-label-div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 1.5rem;
    color: 	#505050;
    font-weight: bold;
    text-align: center;
}

.email-field-big{
    margin-top: 2rem;
    border-radius: 00.5rem;
    padding: 3rem 6rem;
    color: #99a6b3;
    border-color: #212529;
    border-width: 3px;
    float: left;
    background-color: 
    #432f20;
}

.shape-button{
    border: none;
    background-color: #212529;
    padding: 1rem 1rem;
    margin-bottom: 20px;
    border-radius: 10px;
    color:honeydew
}


