@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,200&family=Yuji+Mai&family=Yuji+Syuku&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');
*{
    margin: 0;
}
