.background{
    background-color: #212529;
    width: 100%;
    padding: 10px;
    display: block;
    
    
}

.position-text{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

